table.details td:nth-child(1) {
	text-align: right;
	font-weight: bold;
}

.card .table {
	margin-bottom: 0;
}

.card .table tbody tr:last-child {
	border-bottom-color: transparent;
}

.card .table-bordered tr:first-child{
	border-top-color: transparent;
}

.form-floating textarea.form-control {
	height: 5rem;
}

.card-status{
	text-align: center;
}

.card-status .card-body{
	font-size: 5rem;
}

.card-header.button-header{
	display: flex;
	align-items: center;
}

.card-header.button-header .btn{
	margin-left: auto;
}

.alert{
	text-align: center;
}

table.table-same-width{
	width: 100%;
	table-layout: fixed;
}

.text-muted{
	opacity: 0.6;
}

@media (min-width: 992px) { 
	/* hover doesn't really work on mobile devices! */
	.hover{
		display: none;
	}
	
	:hover > .hover{
		display: inline-block;
	}
}