table.details td:nth-child(1) {
	text-align: right;
	font-weight: bold;
}

.card .table {
	margin-bottom: 0;
}

.card .table tr:last-child {
	border-bottom-color: transparent;
}

.form-floating textarea.form-control {
	height: 5rem;
}

.card-status{
	text-align: center;
}

.card-status .card-body{
	font-size: 5rem;
}

.card-header.button-header{
	display: flex;
	align-items: center;
}

.card-header.button-header .btn{
	margin-left: auto;
}